<h1>Angular + Twitter Bootstrap bot</h1>

<ng-container *ngFor="let message of messages | async">
    <div class="alert" [ngClass]="{'alert-primary': message.sentBy === 'bot',
                                    'alert-secondary': message.sentBy === 'user'}">
        {{message.content}}</div>
</ng-container>
<div class="input-group mb3">
  <label for="nameField">Your message</label>
  <input id="nameField" class="form-control" type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" required>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
  </div>
</div>
