<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <li>
        <app-chat-dialog></app-chat-dialog>
    </li>
    <li>
        <app-chat-material></app-chat-material>
    </li>
    <li>
        <app-react-chat></app-react-chat>
    </li>
    <li>
        <app-angular-microsoft></app-angular-microsoft>
    </li>
    <li width="400px">
        <iframe style="width: 100%; height: 600px" src="https://embed.plnkr.co/dRhUl4D4tmI7VIijyeIf?show=preview" frameborder="0" allowfullscren="allowfullscren"></iframe>
    </li>
</ul>


